.cartList {
    position: fixed;
    top: 6rem;
    left: 5rem;
    width: 90%;
    min-height: 25rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    z-index: 2;
    background: var(--var-bg-color);
    color: var(--var-color-text-h2);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, .5),
    inset 0 0 15px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cartList-products {
    width: 100%;
    padding: 0.1rem;
}

.cartList-mainOrder {
    width: 100%;
}

.cartList-order {
    width: 100%;
    text-align: center;
}

.cartList-order-totalPrice {
    width: 100%;
    text-align: center;
}