.cartBlock{
    width: 10rem;
    background: var(--var-bg-btn-blockStar-h1);
    color: var(--var-bg-color);
    padding: 0.7rem;
    border-radius: 0.3rem;
    text-align: center;
}

.cartBlock-first{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cartBlock-second{
margin-top: 0.2rem;
}

.cartBlock-bitCartAlt{
    position: relative;
    cursor: pointer;
    margin-right: 0.3rem;
    font-size: 0.3rem;
 }

.cartBlock-totalPrice {
    font-weight: bold;
}

.cartBlock-text{
    text-transform: uppercase;
    font-weight: bold;
}