.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 2rem 0.5rem;
}

.header > .header-text {
    font-weight: bold;
    font-size: 3rem;
}




