.cartCircle {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    color: #FFFFFF;
    z-index: 2;
    top: 0.2rem;
    left: 1rem;
}