.layout {
    width: 100%;
    background: var(--var-bg-color);
    padding: 0 3rem 0 3rem;
}

.layout-main {
    display: flex;
}

.layout-sidebar {
    width: 25%;
}

.layout-outlet {
    width: 75%;
}